.App {
  margin-top: 200px;
}
div.uk-container {
  width: 450px;
}
p.loading {
  text-align: center;
  font-size: 300%;
}
h3 {
  text-align: center;
}
h3 strong {
  color: black;
  font-weight: 500;
}
h3 span {
  margin: 0 6px;
}